.sectiong{
  width: 100%;
  
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8d7da; 
  background-image: linear-gradient(to right, #f8d7da, #f08e92);
  overflow-y: auto;
  transition: opacity 2s ease-in-out; 
  position: relative;

}


.imgMenu{
  width: 50px;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
}

.article{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.article:last-child{
  margin-bottom: 80px;
}

.divcarrete{
  display: flex;
  gap: 20px;
  width: 800px;
  height: 220px;
  overflow-y: hidden;
}
.divcarrete::-webkit-scrollbar {
  width: 10px; 
}
.divcarrete::-webkit-scrollbar-track {
  background:black; 
  border-radius: 5px;
}


.divcarrete::-webkit-scrollbar-thumb {
  background-color: #f08e92; /* Color del pulgar de desplazamiento */
  border-radius: 20px; /* Redondez del pulgar de desplazamiento */
  border: 3px solid black; /* Borde del pulgar de desplazamiento */
}

.divcarrete div{
  width: 160px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
  animation: changeColor 8s infinite;
}

.divcarrete img{
  width: 140px;
  height: 140px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.divcarrete img:hover{
  transform: rotate(-45deg) scale(0.7);
}
.divcarrete button{
  width: 50px;
  border-radius: 5px;
  background-color: var(--nsr--color4);
  color: var(--nsr--color3);
  cursor: pointer;

}
.divcarrete button:hover{
  background-color: var(--nsr--color3);
  color: var(--nsr--color4);
}

@media (max-width:876px){

  .divcarrete{
    
    gap: 5px;
    width: 600px;
    height: 220px;
    
  }

}

@media(max-width:647px){
  .divcarrete{
    width:300px ;
  }
}

@media(max-width:374px){
  .divcarrete{
    width: 250px;
  }
  .imgMenu{
    width: 30px;
   
    top: 30px;
    left: 20px;
    
  }

}